---
import { Search as SearchIcon } from 'lucide-react'
import { buttonVariants } from '@/components/ui/button'
import SearchUi from '@/components/search-ui.astro'
import { cn } from '@/lib/utils'
---

<button
	id="search-button"
	class={cn(
		buttonVariants({
			variant: 'outline',
		}),
		'w-full justify-start',
	)}
>
	<SearchIcon className="mr-2 h-4 w-4" />
	<span class="text-sm opacity-50">Search...</span>
</button>

<dialog
	id="search-dialog"
	class="fixed"
>
	<SearchUi />
</dialog>

<script>
	const button = document.getElementById('search-button')! as HTMLButtonElement
	const dialog = document.getElementById('search-dialog')! as HTMLDialogElement

	function showModal() {
		if (!dialog.open) dialog.showModal()
		document.documentElement.classList.add('overflow-hidden')
	}

	function close() {
		if (dialog.open) dialog.close()
		document.documentElement.classList.remove('overflow-hidden')
	}

	button.addEventListener('click', () => {
		showModal()
	})

	dialog.addEventListener('close', close)

	const down = (e: KeyboardEvent) => {
		if (e.key === 'k' && (e.metaKey || e.ctrlKey)) {
			e.preventDefault()
			dialog.open ? close() : showModal()
		}
	}

	document.addEventListener('keydown', down)
</script>
