---
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import SidebarLink from '@/components/sidebar-link.astro'

interface Props {
	sidebar: CollectionEntry<'sidebar'>
	class?: string | undefined
}

const { sidebar, class: className } = Astro.props
---

<ul class={cn('flex flex-col', className)}>
	{
		sidebar.data.items.map(({ link, children }) => (
			<li>
				<SidebarLink link={link} />
				{children.length > 0 && (
					<ul class="ml-4">
						{children.map((link) => (
							<SidebarLink link={link} />
						))}
					</ul>
				)}
			</li>
		))
	}
</ul>
