---
import type { SidebarExternalLink } from '@/content/config'

interface Props {
	link: SidebarExternalLink
	class?: string
}

const { link, ...props } = Astro.props
const { href, label, newTab } = link.value
---

<a
	href={href}
	target={newTab ? '_blank' : undefined}
	{...props}
>
	{label}
</a>
