---
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import SidebarLink from '@/components/sidebar-link.astro'
import { buttonVariants } from './ui/button'

interface Props {
	sidebar: CollectionEntry<'sidebar'>
	class?: string | undefined
}

const { sidebar, class: className } = Astro.props
---

<ul class={cn('flex flex-col', className)}>
	{
		sidebar.data.items.map(({ link, children }) => (
			<li class="flex flex-col items-stretch">
				<SidebarLink
					link={link}
					class={cn(
						buttonVariants({
							variant: 'ghost',
							size: 'sm',
						}),
						'justify-start',
					)}
				/>
				{children.length > 0 && (
					<>
						{children.map((link) => (
							<SidebarLink
								link={link}
								class={cn(
									buttonVariants({
										variant: 'ghost',
										size: 'sm',
									}),
									'justify-start',
								)}
							/>
						))}
					</>
				)}
			</li>
		))
	}
</ul>
