---
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import SidebarItem from '@/components/sidebar/sidebar-item.astro'

interface Props {
	navigation: CollectionEntry<'navigation'>
	class?: string | undefined
	currentPathname?: string
}

const { navigation, currentPathname, class: className } = Astro.props
---

<ul class={cn('flex flex-col', className)}>
	{
		navigation.data.items.map(({ item, children }) => (
			<li class="flex flex-col items-stretch">
				<SidebarItem
					item={item}
					currentPathname={currentPathname}
				/>
				{children.length > 0 && (
					<>
						{children.map((item) => (
							<SidebarItem
								item={item}
								currentPathname={currentPathname}
							/>
						))}
					</>
				)}
			</li>
		))
	}
</ul>
