---
import { cn } from '@/lib/utils'
import type { CollectionEntry } from 'astro:content'
import SidebarItem from '@/components/sidebar/sidebar-item.astro'
import { buttonVariants } from '../ui/button'

interface Props {
	navigation: CollectionEntry<'navigation'>
	class?: string | undefined
}

const { navigation, class: className } = Astro.props

const url: string = Astro.url.pathname

function getStyling(slug: string) {
	let styling = "justify-start font-bold hover:text-blue-800 dark:hover:text-orange-400 "
	if(url.endsWith(slug) || url.includes(slug + "/"))
	{
		styling += " bg-accent pl-4"
	}
	return styling
}
---

<ul class={cn('flex flex-col', className)}>
	{
		navigation.data.items.map(({ item, children }) => (
			<li class="flex flex-col items-stretch">
				<SidebarItem
					item={item}
					class={cn(
						buttonVariants({
							variant: 'ghost',
							size: 'sm',
						}),
						getStyling(`${item.value.slug.slug}`)
					)}
				/>
				{children.length > 0 && (
					<>
						{children.map((item) => (
							<SidebarItem
								item={item}
								class={cn(
									buttonVariants({
										variant: 'ghost',
										size: 'sm',
									}),
									getStyling(`${item.value.slug.slug}`)
								)}
							/>
						))}
					</>
				)}
			</li>
		))
	}
</ul>
